node_modules

### macOS ###
# General
.AppleDouble
.LSOverride
.DS_Store

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.build

# next.js build output
.next

# Serverless directories
.serverless

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### NextJS ###
.next/

### Yarn ###
yarn-error.log
yarn.lock

### package lock ###
package-lock.json

# Next.js static build files
out/
config.json
.vscode/settings.json

.now
pages/moms-list.js
.vercel/project.json
.vercel/README.txt
