@use 'reset';
// variables
@use 'variables/colors.scss' as colors;
@use 'variables/fonts.scss' as fonts;
@use 'variables/layout.scss' as *;
// partials
@use 'global/layout';
@use 'global/typography';

html, body {
  height: 100%;
  overflow: hidden;
}

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

body {
  background-color: colors.$black;
  color: colors.$black;
  font-family: fonts.$font-text;
  font-size: 1.25rem;

  p {
    letter-spacing: 0.75px;
    margin: 15px 0;
  }

  a {
    color: inherit;
  }

  ul {
    padding: 0;
    list-style: none;
  }
}

.recipe-list li {
  margin-bottom: gutterPow(1.25);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}