@use 'reset';
// variables
@use 'variables/colors.scss' as colors;
@use 'variables/fonts.scss' as fonts;
@use 'variables/layout.scss' as *;
// partials
@use 'global/layout';
@use 'global/typography';

main {
  color: colors.$black;
  font-family: fonts.$font-text;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  padding: gutterPow(2.5) 0;

  p {
    letter-spacing: 0.75px;
    margin: 15px 0;
  }

  a {
    color: colors.$black;
  }

  ul {
    padding: 0;
    list-style: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}