@use '../breakpoints' as bp;

.groceries {

  &__aisles {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);

    .aisle {
      flex: 1 1 100%;
      font-weight: normal;
      padding-top: var(--gutter-md);

      @include bp.media-breakpoint-up(md) {
        flex: 1 1 47%;
      }

      ul {
        padding-top: var(--gutter-md);

        li.ingredient {
          margin-bottom: var(--gutter);

          p {
            display: inline-block;
          }

          .recipe {
            font-size: 0.75rem;
            line-height: 19.2px;
            vertical-align: bottom;
            padding-left: 0.25rem;
          }
        }
      }
    }
  }
}
