@use '../breakpoints' as bp;

.recipes {
  h2 {
    margin-top: var(--gutter-xl);
  }

  &__categories {
    @include bp.media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      column-gap: var(--gutter-lg);
    }
  }
}
