.groceries {

  &__section {
    display: block;
    margin: $gutter 0;

    .wrapper {
      display: block;
      height: 100%;
      padding-top: $gutter-md;

      ul {
        padding-top: $gutter-md;

        li {
          margin-bottom: $gutter;

          a {
            font-weight: 700;
          }
        }
      }
    }
  }
}