.groceries {

  &__section {
    display: block;
    margin-top: gutterPow(2);
    margin-bottom: gutterPow(4);

    h2 {
      margin-bottom: 0;
    }

    ul {
      line-height: 1.5;

      strong {
        display: inline;
        background-color: $black;
        color: $white;
        letter-spacing: -0.25px;
        text-decoration: none;
        border-radius:  0.15em;
        padding: 0.1em 0.4em;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
      }
    }
  }
}