#homepage {

  .group {
    position: relative;
    margin-bottom: $gutter-lg;

    @include media-breakpoint-up(md) {
      margin-bottom: $gutter-xl;
    }

    h2 {
      margin-bottom: $gutter;
    }

    ul li a {  
      @include media-breakpoint-down(sm) {
        @include h3;
      }
    }

    &__featured ul li {
      margin-bottom: gutterPow(1.5);
    }

    &__subgroup {

      ul li {
        margin-bottom: gutterPow(1.25);
      }

      &:last-of-type {
        @include media-breakpoint-up(md) {
          $gap: gutterPow(0.6);

          ul {
            display: flex;
            flex-wrap: wrap;
            gap: $gap;

            li {
              margin-bottom: $gap;
            }
          }
        }
      }
    }
  }
}