#homepage {
  text-align: center;

  .group {
    position: relative;
    margin-bottom: gutterPow(2.5);

    @include media-breakpoint-up(md) {
      margin-bottom: gutterPow(4);
    }

    h2 {
      margin-bottom: gutterPow(2);
    }

    &__wrapper {

      @include media-breakpoint-up(md) {
        position: sticky;
        top: $gutter;
      }
    }

    &__subgroup {

      h2 {
        margin-bottom: gutterPow(1.5);
      }

      ul li a {  
        @include media-breakpoint-down(sm) {
          @include h1;
        }
      }

      &:last-of-type {
        margin-top: gutterPow(2);
        margin-bottom: gutterPow(10);

        h2 {
          margin-bottom: gutterPow(1.15);
        }

        @include media-breakpoint-up(md) {
          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: $gutter;

            li {
              display: block;
              position: relative;
              white-space: nowrap;
              
              a {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}