.recipes {

  h2 {
    margin-top: $gutter-xl;
  }

  &__categories {
    li {
      margin-bottom: gutterPow(1.25);
    }

    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      gap: $gutter;

      li {
        margin-bottom: gutterPow(0.5);
      }
    }
  }
}