.recipes {

  h2 {
    margin-top: gutterPow(4);
  }

  &__categories {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      gap: $gutter;

      li {
        margin-bottom: gutterPow(0.5);
      }
    }
  }

  &__recipes li {
    margin-bottom: gutterPow(1.5);
  }
}