$hero-height: 500px;

.recipe {

  &__hero {
    pointer-events: none;
    display: block;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: $hero-height;
    min-height: 500px;
    border-bottom: 3px solid $black;
    overflow: hidden;
    z-index: 1;

    &__img {
      object-fit: cover;
      object-position: center center;
    }
  }

  &__meta,
  &__body,
  &__related,
  &__tags {
    padding: $gutter-lg 0;
    z-index: 2;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      width: 100vw;
      height: 100%;
      background-color: $white;
    }
  }

  &__meta {
    font-size: 1rem;
    margin-top: 350px;
    padding-top: $gutter-xl;

    @include media-breakpoint-up(md) {
      margin-top: $hero-height - 80px;
    }

    &::before {
      border-top: 3px solid $black;
    }

    h1 {
      display: block;
      background-color: $black !important;
      line-height: 1;
      text-align: center;
    }

    strong + * {
      margin-top: 0;
    }

    .notes,
    .source {
      padding-top: $gutter-md;
    }

    .source {
      display: flex;
      gap: 4px;
      font-size: 12px;

      .label {
        color: $grey;
      }
    }
  }

  &--no_hero .recipe__meta {
    margin-top: 0;

    &::before {
      border-top: none;
    }
  }

  &__body {

    .heading_block {
      margin-bottom: $gutter;
    }

    p + .heading_block {
      margin-top: gutterPow(3);
    }

    .ingredients {
      
      p {
        margin-bottom: gutterPow(0.5);
      }

      @include media-breakpoint-down(md) {
        margin-bottom: gutterPow(3);
      }
    }

    .sticky_wrapper {
      position: sticky;
      top: $gutter;
    }
  }

  &__tags {

    .tag_column {

      ul {
        padding: $gutter 0;

        li {
          display: block;
          line-height: 1;
          margin-top: 0;
          margin-bottom: $gutter;

          a {
            color: $white;
            margin-bottom: 0;
            transition: all 300ms ease-in-out;

            @include media-breakpoint-up(md) {
              font-size: 1rem;
            }

            &:hover {
              background-color: $white;
              color: $black;
            }
          }
        }
      }

      &:nth-child(2) a {
        background-color: $lime;
      }

      &:nth-child(3) a {
        background-color: $green;
      }

      &:nth-child(4) a {
        background-color: $emerald;
      }

      &:nth-child(5) a {
        background-color: $blue-green;
      }
    }
  }
}