@use '../variables/breakpoints.scss' as breakpoints;
@use '../variables/layout' as layout;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 layout.$gutter;

  @include breakpoints.media-breakpoint-up(md) {
    width: min(90vw, 1300px);
  }
}

.d-mobile {
  @include breakpoints.media-breakpoint-up(md) {
    display: none;
  }
}

.d-desktop {
  @include breakpoints.media-breakpoint-down(md) {
    display: none;
  }
}