@use '../variables/colors.scss' as colors;
@use '../variables/fonts.scss' as fonts;
@use '../variables/layout.scss' as layout;

$color-list: colors.$highlight-colors;

:root {
  --color-list-length: #{length($list: $color-list)};
}

$headings: h1, h2, h3, h4, h5, h6;

@each $size in $headings {
  #{$size},
  .#{$size} {
    font-family: fonts.$font-heading;
    font-weight: bold;
    letter-spacing: -0.25px;
    margin-bottom: layout.$gutter;

    // TODO: @include fonts.#{$size}; // refactor below values (https://itnext.io/advanced-use-of-sass-maps-bd5a47ca0d1a)
  }
}

h1,
.h1 {
  @include fonts.h1;
  letter-spacing: -0.5px;
}

h2,
.h2 {
  @include fonts.h2;
}

h3,
.h3 {
  @include fonts.h3;
}

h4,
.h4 {
  @include fonts.h4;
}

h5,
.h5 {
  @include fonts.h5;
}

h6,
.h6 {
  @include fonts.h6;
}

strong,
b {
  font-weight: 700;
}

$border-radius: 0.15em;

.highlight {
  display: inline;
  background-color: colors.$black;
  color: colors.$white;
  line-height: 1.75;
  letter-spacing: -0.25px;
  text-decoration: none;
  border-radius: $border-radius;
  transition: 300ms ease-in-out;
  transition-property: background-color, box-shadow;
  box-decoration-break: clone;
  padding: 0.4em 0;
  box-shadow: 0.6em 0 0 colors.$black, -0.6em 0 0 colors.$black;
  margin-left: 0.6em;

  @each $color in $color-list {
    $index: index($color-list, $color);

    &.color-#{$index}:hover {
      background-color: $color;
      box-shadow: 0.6em 0 0 $color, -0.6em 0 0 $color;
    }
  }
}

.outline {
  display: inline-block;
  position: relative;
  border: 3px solid colors.$black;
  border-radius: $border-radius;
  line-height: 1;
  text-decoration: none;
  padding: 0.5em 1em;
}
