.ingredient-menu {

  @include media-breakpoint-up(md) {
    width: 25vw;
    max-width: 200px;

    p {
      transition: all 250ms linear 0s;
      margin-bottom: 0;
    }

    &.font-sm p {
      font-size: 16px;
      margin-top: 5px;
    }
  }

  @include media-breakpoint-up(lg) {
    width: 29vw;
    max-width: 300px;
  }

  &.above {
    // position: absolute;
  }

  &.fixed {
    position: fixed;
    top: $navbar-height;
    overflow-y: scroll;
  }

  &.below {
    position: absolute;
    top: auto;
    bottom: 0;
  }
}