header#navbar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: $white;
  font-size: 0.875rem;
  line-height: 1.5;

  ul li {
    display: inline-block;
    margin-right: 15px;
  }
}