.page-count {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  li {
    padding: 0 5px;

    span {
      text-decoration: underline;
    }

    a {
      text-decoration: none !important;
    }
  }

  &:empty {
    display: none;
  }
}