.sticky-element {

  @include media-breakpoint-up(md) {
    width: 26vw;
    max-width: 210px;
  }

  @include media-breakpoint-up(lg) {
    width: 29vw;
    max-width: 350px;
  }

  &.above {
    // position: absolute;
  }

  &.fixed {
    position: fixed;
    top: $navbar-height;
    overflow-y: scroll;
  }

  &.below {
    position: absolute;
    top: auto;
    bottom: 0;
  }
}