#groceries {

  .col-title {
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    h1 {
      margin: auto 0;
    }

    button.edit-btn {
      background-color: $emerald;
      color: $white;
      font-size: 14px;
      padding: 4px 20px;
      margin-left: 50px;

      &.editing {
        background-color: $blue-green;
      }
    }
  }

  form#grocery-list {

    ul li.list-item {
      margin-bottom: 10px;
    }

    &.editing {

      ul li.list-item {
        display: block;
        position: relative;
        box-shadow: $box-shadow;
        padding: 5px 15px;

        input {
          border: none;
          width: 100%;
          width: calc(100% - 33px);
          white-space: normal;
          padding: 5px;
        }

        button.remove {
          display: block;
          cursor: pointer;
          position: absolute;
          top: 10px;
          right: 10px;
          bottom: 10px;
          width: 25px;
          border: none;
          opacity: 0.35;

          &::before,
          &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            height: 4px;
            background-color: #333;
            border-radius: 2px;
          }

          &:before {
            transform: translateY(-2px) rotate(45deg);
          }

          &:after {
            transform: translateY(-2px) rotate(-45deg);
          }
        }

        &:hover button.remove {
          opacity: 1;
        }
      }
    }
  }
}