.form {
  width: 100%;
  padding: var(--gutter-lg) 0;

  &__field-group {
    display: grid;
    gap: var(--gutter-sm);
    margin-block: var(--gutter) 0;
  }

  label {
    max-width: max-content;
    margin: 0;
  }

  button[type="submit"] {
    margin-block-start: var(--gutter);
  }

  .error,
  .hint,
  .status {
    font-size: 0.9rem;
    margin-block-end: var(--gutter-sm);
  }
}