.review {
  padding: var(--gutter-lg) 0;

  .section {
    display: grid;
    padding: var(--gutter-lg) 0;

    label, h3 {
      width: fit-content;
    }

    .list li {
      display: flex;
      gap: var(--gutter-xs);

      input, textarea {
        flex: 1 0 200px;
      }

      button {
        flex: 0 1 100px;
      }
    }
  }

  .actions {
    display: inline-flex;
    gap: var(--gutter-xs);
  }
}