$black: #232323;
$grey: #888;
$med-grey: #ccc;
$light-grey: #ddd;
$white: #fff;

$yellow: #E0BC29;
$lime: #A39D20;
$green: #689624;
$emerald: #29823A;
$blue-green: #126B63;

$deep-purple: #330136;
$purple: #5F1644;
$blush: #972D42;
$pink: #C9463C;
$peach: #FF6035;

$highlight-colors: 
  $yellow,
  $lime,
  $green,
  $emerald,
  $blue-green,
  $deep-purple,
  $purple,
  $blush,
  $pink,
  $peach;