@import 'layout';

$font-heading: var(--font-merriweather);
$font-text: var(--font-alegreya);

@mixin h1 {
  font-size: clamp(1.875rem, 1.3248rem + 2.3474vw, 3.4375rem); // 30px to 55px (screens: 375px to 1200px)
  margin-bottom: gutterPow(2);
}

@mixin h2 {
  font-size: clamp(1.5625rem, 1.2764rem + 1.2207vw, 2.375rem); // 25px to 38px (screens: 375px to 1200px)
  margin-bottom: gutterPow(1.5);
}

@mixin h3 {
  font-size: clamp(1.25rem, 0.9859rem + 1.1268vw, 2rem); // 20px to 32px (screens: 375px to 1200px)
  margin-bottom: gutterPow(1.25);
}

@mixin h4 {
  font-size: clamp(1.125rem, 0.9049rem + 0.939vw, 1.75rem); // 18px to 28px (screens: 375px to 1200px)
  margin-bottom: gutterPow(1.15);
}

@mixin h5 {
  font-size: clamp(1rem, 0.868rem + 0.5634vw, 1.375rem); // 16px to 22px (screens: 375px to 1200px)
  margin-bottom: $gutter;
}