@function gutterPow($exponent: 1) {
  $gutter: clamp(0.75rem, 0.6648rem + 0.3636vw, 0.9375rem); // 12px to 15px (screens: 375px to 1200px)

  @if $exponent != 1 {
    $gutter: calc(#{$gutter} * #{$exponent});
  }

  @return $gutter;
}

$gutter: gutterPow();

$spacing-sm: 30px;
$spacing: 65px;
$spacing-lg: 100px;

$nav-height: 46px;
$footer-height: 49px;