.wrapper {
  background-color: var(--color-white);
  border-top: 3px solid var(--color-black);
  padding: var(--gutter-xl) 0;
  min-height: calc(100vh - var(--nav-height) - var(--footer-height));

  p {
    margin-top: var(--gutter-lg);
  }
}
