.footer {
  display: block;
  background-color: $black;
  color: $white;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  padding: 7px 15px;
  z-index: 3;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}