.layout {
  background-color: #FFFFFF;
  font-family: $font-text;
  
  main {
    min-height: calc(100vh - #{$nav-height} - #{$footer-height}); // minus nav and footer height
    margin: 0;
    padding: gutterPow(2) 0;
  }
}