@import './vendor/normalize.scss';
@import './vendor/bootstrap/bootstrap-grid.scss';

html {
  font-size: 100%;
}

body {
  font-family: $alegreya;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0.6px;
  padding-top: 55px; // for fixed navbar

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;


    font-family: $merriweather;
    letter-spacing: normal;
    font-weight: 800;
  }

  strong, b {
    font-weight: 700;
  }
}