@import './vendor/normalize.scss';
@import './vendor/bootstrap/bootstrap-grid.scss';

html {
  font-size: 100%;
}

body {
  font-family: $montserrat;
  font-size: 0.95rem;
  line-height: 2;
  letter-spacing: 0.5px;
  padding-top: 55px; // for fixed navbar

  h1, h2, h3, h4, h5, h6 {
    font-family: $montserrat-bold;
    line-height: 1.25;
  }

  strong, b {
    font-family: $montserrat-semi-bold;
  }
}