@import './vendor/normalize.scss';
@import './global/typography.scss';
@import './components/grocery-list.scss';

body {
  box-sizing: border-box;
  color: $black;
  padding-top: $navbar-height;

  .line {
    display: block;
    background-color: $light-grey;
    width: 100%;
    height: 1px;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  .card-container {
    justify-content: flex-start;

    a.card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 300px;
      text-align: center;
      text-decoration: none;
      box-shadow: $box-shadow;
      margin-right: 2.5%;
      margin-bottom: 15px;
      padding: 30px;
    }
  }
}