@use 'reset';
@use 'tokens';
@use 'layout';
@use 'typography';

html {
  font-size: 100%;
}

body {
  overscroll-behavior: none;
  background-color: var(--color-black);
  color: var(--color-black);
  font-family: var(--font-text);
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.75px;

  a {
    color: inherit;
  }

  ul {
    padding: 0;
    list-style: none;
  }
}

main {
  background-color: var(--color-white);
  min-height: calc(100vh - var(--nav-height) - var(--footer-height));
  padding: var(--gutter-lg) 0;
}

ol, ul {
  padding-inline-start: 0;

  li {
    margin-block-end: var(--gutter);
  }
}

fieldset {
  display: grid;

  label {
    font-size: 0.95rem;
    font-weight: bold;
  }
}

input, textarea, select {
  border: 2px solid var(--color-med-grey);
  border-radius: var(--border-radius);
  padding: var(--gutter-xs);
}

button {
  cursor: pointer;
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius);
  padding: var(--gutter-xs);
  max-height: fit-content;

  &:disabled {
    cursor: not-allowed;
    border-color: var(--color-med-grey);
  }
}